# Ethereum node configuration
ETHEREUM_NODE_URL=https://sepolia.infura.io/v3/project-id
CHAIN_ID=11155111 

# Faucet configuration
FAUCET_AMOUNT=0.0001
FAUCET_INTERVAL_MIN=1

# Private key and public address for the faucet account
PRIVATE_KEY=faucet-wallet-private-key
PUBLIC_ADDRESS=faucet-wallet-address

# Database configuration
POSTGRES_DB=faucet
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=127.0.0.1
